#catalog-main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.catalog-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5rem 0 1rem;
    width: 90%;
}

.number-of-ads {
    width: 100%;
}

.ads-container {
    width: 100%;
}

.ads-container img {
    width: 100px;
    height: auto;
}

.ad-info {
    display: inline-flex;
    flex-direction: column;
}

.ads-container a {
    display: flex;
    width: 100%;
    margin-bottom: 0.75rem;
    border: 2px solid lightgray;
    border-radius: 5px;
    overflow: hidden;
    text-decoration: none;
    background-color: white;
}

.ads-container a:hover {
    background-color: lightseagreen;
    border: 2px solid lightseagreen;
    transition: all .2s ease-in-out;
}

.ad-info span {
    padding: 5px;
    font-size: 1.25rem;
}

.ad-type {
    font-weight: bold;
    color: rgb(30, 32, 36);
}

.ad-kvadratura {
    color: gray;
}

.ad-cena {
    font-weight: bold;
    color: rgb(153, 0, 0);
}

@media screen and (min-width:480px) {
    .ads-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }

    .ads-container a {
        display: block;
    }

    .ads-container img {
        width: 100%;
        aspect-ratio: 16/9;
    }
}

@media screen and (min-width:768px) {
    .ads-container {
        grid-template-columns: repeat(3, 1fr);

    }
}

@media screen and (min-width:1280px) {
    .ads-container {
        grid-template-columns: repeat(4, 1fr);

    }
}