#details-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}

.details-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 96%;
}

.description {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.details-container h1 {
    margin: 0.5rem 0rem 0rem 0rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(30, 32, 36);
    text-align: center;
}

.details-container h2 {
    margin: 0.35rem 0rem 0.65rem 0rem;
    font-size: 1.35rem;
    /* font-weight: bold; */
    color: rgb(85, 85, 85);
    text-align: center;
}

.description h3 {
    margin: 1rem 0 0.5rem;
    font-size: 1.2rem;
    font-weight: bold;
}

.description p {
    margin-bottom: 1rem;
}

.desc-table {
    width: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.desc-table tr:nth-of-type(odd) td {
    background: #d8ebff;
}

.desc-table tr:nth-of-type(even) td {
    background: #c0dcf9;
}

.desc-table td {
    padding: 2px 5px;
    display: table-cell;
    vertical-align: inherit;
}

.image-wrapper {
    display: flex;
    position: relative;
    margin-bottom: 1rem;
    width: 100%;
    background-color: rgb(170, 170, 170);
}

.image-wrapper i {
    top: 50%;
    height: 44px;
    width: 44px;
    color: #343F4F;
    cursor: pointer;
    font-size: 1.15rem;
    position: absolute;
    text-align: center;
    line-height: 44px;
    background-color: rgb(243, 244, 249);
    transform: translateY(-50%);
    transition: transform 0.1s linear;
}

.image-wrapper i:active {
    transform: translateY(-50%) scale(0.9);
}

.image-wrapper i:hover {
    background: lightseagreen;
}

.image-wrapper i:first-child {
    left: 0;
}

.image-wrapper i:last-child {
    right: 0;
}

.image-wrapper .carousel {
    font-size: 0px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
}

.carousel.dragging {
    cursor: grab;
    scroll-behavior: auto;
}

.carousel.dragging img {
    pointer-events: none;
}

.carousel img {
    /* margin-bottom: 1rem; */
    object-fit: cover;
    user-select: none;
    width: 100%;
    height: 77vh;
}

.carousel img:first-child {
    margin-left: 0px;
}

.edit-delete {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.edit,
.delete {
    text-decoration: none;
    color: rgb(247, 149, 23);
    font-size: 1.2rem;
    cursor: pointer;
}

.edit:hover,
.delete:hover {
    color: rgb(30, 32, 36);
    transition: all .2s ease-in-out;
}

.favourites {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 1.2rem;
}

.add-to-fav,
.remove-from-fav {
    text-decoration: none;
    color: rgb(247, 149, 23);
}

.add-to-fav:hover,
.remove-from-fav:hover {
    color: rgb(30, 32, 36);
    transition: all .2s ease-in-out;
}

/* confirm */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700&display=swap');

.confirm {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    padding: 10px;
    box-sizing: border-box;
    z-index: 1100;

    opacity: 0;
    animation-name: confirm---open;
    animation-fill-mode: forwards;

    display: none;
    align-items: center;
    justify-content: center;
}

/* .confirm--close {
    animation-name: confirm---close;
} */

.confirm-window {
    width: 100%;
    max-width: 600px;
    background: white;
    font-size: 14px;
    font-family: 'Noto Sans', sans-serif;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

    opacity: 0;
    transform: scale(0.75);
    animation-name: confirm__window---open;
    animation-fill-mode: forwards;
}

.confirm-titlebar,
.confirm-content,
.confirm-buttons {
    padding: 1.25em;
}

.confirm-titlebar {
    background: #009879;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.confirm-title {
    font-weight: bold;
    font-size: 1.1em;
}

.confirm-close {
    background: none;
    outline: none;
    border: none;
    transform: scale(2.5);
    color: #ffffff;
    transition: color 0.15s;
}

.confirm-close:hover {
    color: rgb(247, 149, 23);
    cursor: pointer;
}

.confirm-content {
    line-height: 1.8em;
}

.confirm-buttons {
    background: #eeeeee;
    display: flex;
    justify-content: flex-end;
}

.confirm-button {
    padding: 0.4em 0.8em;
    border: 2px solid #009879;
    border-radius: 5px;
    background: #ffffff;
    color: #009879;
    font-weight: bold;
    font-size: 1.1em;
    font-family: 'Noto Sans', sans-serif;
    margin-left: 0.6em;
    cursor: pointer;
    outline: none;
    text-decoration: none;
}

.confirm-button:hover {
    background: #009879;
    color: #ffffff;
    transition: all .2s ease-in-out;
}

/* .confirm__button:focus {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
} */

@keyframes confirm---open {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes confirm---close {
    from {
        opacity: 1
    }

    to {
        opacity: 0
    }
}

@keyframes confirm__window---open {
    to {
        opacity: 1;
        transform: scale(1);
    }
}


@media screen and (min-width:1280px) {
    .details-container {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .details-container h1 {
        width: 100%;
    }

    .details-container h2 {
        width: 100%;
    }

    .image-wrapper {
        width: 60%;
        align-self: baseline;
    }

    .description {
        align-self: start;
        margin-left: 1rem;
        width: calc(40% - 1rem);
    }

    .description h3 {
        margin-top: 0;
    }

    .description p {
        line-height: 1.25rem;
    }

    .desc-table td {
        padding: 5px 5px;
    }

    table {
        margin-bottom: 1rem;
    }

    .favourites {
        justify-content: end;
    }
}