#details-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}

.details-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 96%;
}

.description {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.details-container h1 {
    margin: 0.5rem 0rem 0rem 0rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(30, 32, 36);
    text-align: center;
}

.details-container h2 {
    margin: 0.35rem 0rem 0.65rem 0rem;
    font-size: 1.35rem;
    /* font-weight: bold; */
    color: rgb(85, 85, 85);
    text-align: center;
}

.description h3 {
    margin: 1rem 0 0.5rem;
    font-size: 1.2rem;
    font-weight: bold;
}

.description p {
    margin-bottom: 1rem;
}

.desc-table {
    width: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.desc-table tr:nth-of-type(odd) td {
    background: #d8ebff;
}

.desc-table tr:nth-of-type(even) td {
    background: #c0dcf9;
}

.desc-table td {
    padding: 2px 5px;
    display: table-cell;
    vertical-align: inherit;
}

.image-wrapper {
    display: flex;
    position: relative;
}

.image-wrapper i {
    top: 50%;
    height: 44px;
    width: 44px;
    color: #343F4F;
    cursor: pointer;
    font-size: 1.15rem;
    position: absolute;
    text-align: center;
    line-height: 44px;
    background-color: rgb(243, 244, 249);
    transform: translateY(-50%);
    transition: transform 0.1s linear;
}

.image-wrapper i:active {
    transform: translateY(-50%) scale(0.9);
}

.image-wrapper i:hover {
    background: lightseagreen;
}

.image-wrapper i:first-child {
    left: 0;
}

.image-wrapper i:last-child {
    right: 0;
}

.image-wrapper .carousel {
    font-size: 0px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
}

.carousel.dragging {
    cursor: grab;
    scroll-behavior: auto;
}

.carousel.dragging img {
    pointer-events: none;
}

.carousel img {
    margin-bottom: 1rem;
    object-fit: cover;
    user-select: none;
    width: 100%;
    max-height: 77vh;
}

.carousel img:first-child {
    margin-left: 0px;
}

@media screen and (min-width:1280px) {
    .details-container {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .details-container h1 {
        width: 100%;
    }

    .details-container h2 {
        width: 100%;
    }

    .image-wrapper {
        width: 60%;
        align-self: baseline;
    }

    .description {
        align-self: start;
        margin-left: 1rem;
        width: calc(40% - 1rem);
    }

    .description h3 {
        margin-top: 0;
    }

    .description p {
        line-height: 1.25rem;
    }

    .desc-table td {
        padding: 5px 5px;
    }

    table {
        margin-bottom: 1rem;
    }
}