html {
    box-sizing: border-box;
}

body {
    background-color: rgb(243, 244, 249);
    position: relative;
    font-family: Arial, Verdana, sans-serif;
}

header {
    background-color: lightseagreen;
    padding: 1.3rem;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100vw;
    display: flex;
    align-items: baseline;
    font-family: 'Times New Roman', Times, serif;
}

.home-logo {
    display: inline-block;
    position: absolute;
    left: 9px;
    top: 0px;
    height: 54px;
    width: 128px;
    z-index: 1000;
}

.nav {
    display: none;
    position: absolute;
    padding: 0.7rem;
    top: 45px;
    left: 0;
    text-align: center;
    width: 100%;
    background-color: lightseagreen;
}

ul {
    text-decoration: none;
}

.nav-link {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    margin-top: 3px;
    padding: 0.2rem;
    font-family: Arial, Verdana, sans-serif;
    font-size: 1rem;
    cursor: pointer;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
}

.nav-link:hover {
    color: whitesmoke;
    transition: all .2s ease-in-out;
}

.btn-menu {
    position: absolute;
    top: 12px;
    right: 10px;
    background-color: lightseagreen;
    color: rgb(30, 32, 36);
    border: none;
    font-size: 1.4rem;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    background-color: lightseagreen;
}

.footer-contacts-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contacts-icons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contacts-title {
    margin-top: 3px;
    padding: 4px;
    font-size: 1.2rem;
    font-weight: bold;
    color: rgb(30, 32, 36);
}

.contacts-icons {
    margin: 3px;
    color: rgb(30, 32, 36);
}

.contacts-icons i {
    margin-right: 5px;
    font-size: 1.1rem;
    color: rgb(30, 32, 36);
}

.follow-footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.follow-title {
    margin-bottom: 5px;
    padding: 4px;
    font-size: 1.2rem;
    font-weight: bold;
    color: rgb(30, 32, 36);
}

.socials-icons {
    margin: 4px;
    padding: 4px 5px;
    font-size: 1.1rem;
    background-color: rgb(30, 32, 36);
    color: rgb(247, 149, 23);
}

.all-right {
    padding: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    color: rgb(30, 32, 36);
}

.errorContainer {
    display: flex;
    align-items: center;
    justify-content: end;
    position: fixed;
    top: 3rem;
    width: 100%;
    height: auto;
    padding: 1rem;
    z-index: 11111;

}

.errorContainer>p {
    padding: 1.2rem;
    font-style: italic;
    font-size: 1.3rem;
    background-color: rgb(247, 149, 23);
    color: rgb(255, 255, 255);
    border-radius: 5px;
}

.errorContainer {
    -moz-animation: cssAnimation 0s ease-in 5s forwards;
    /* Firefox */
    -webkit-animation: cssAnimation 0s ease-in 5s forwards;
    /* Safari and Chrome */
    -o-animation: cssAnimation 0s ease-in 5s forwards;
    /* Opera */
    animation: cssAnimation 0s ease-in 5s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

/* not found */

.not-found-container {
    width: 100%;
    height: 320px;
    margin: 0 auto;
    margin-top: 15%;
    text-align: center;
    box-shadow: 0px 0px 80px 40px rgba(77, 77, 240, 0.315);
    background-color: white;
}

.not-found-container>h1 {
    font-size: 130px;
    font-weight: 800;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.not-found-container>h2 {
    font-size: 30px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin-top: 20px;
}

.not-found-container>p {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin-top: 4px;
    font-size: 20px;
}

/* dropdown */
.my-profile i{
    font-size: 1rem;
    margin-left: 3px;
}

.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
    background-color: rgb(243, 244, 249);
}

/* .dropdown:hover .dropdown-content {
    display: block;
  } */
.dropdown-content a {
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
}

.dropdown-content a:hover {
    color: #FFFFFF;
    background-color: #00A4BD;
}

@keyframes cssAnimation {
    to {
        width: 0;
        height: 0;
        overflow: hidden;
        padding: 0;
    }
}

@-webkit-keyframes cssAnimation {
    to {
        width: 0;
        height: 0;
        visibility: hidden;
        padding: 0;
    }
}

@media screen and (min-width:768px) {

    ul {
        text-align: end;
    }

    .nav {
        display: block;
        top: 0;
        background-color: transparent;
    }

    .nav-link {
        display: inline-block;
        margin-right: 10px;
    }

    li {
        display: inline-block;
    }

    #guest {
        display: inline-block;
    }

    #user {
        display: inline-block;
    }

    .btn-menu {
        display: none;
    }
}