<main id="form-main">
    <section class="form-view">
        <h1>Добави обява</h1>
        <form action="" class="forms">
            <div class="input">
                <label for="type">Вид имот</label>
                <select name="type" id="type">
                    <option value="">1-СТАЕН</option>
                    <option value="">2-СТАЕН</option>
                    <option value="">3-СТАЕН</option>
                    <option value="">МНОГОСТАЕН</option>
                    <option value="">КЪЩА</option>
                    <option value="">ХОТЕЛ</option>
                    <option value="">МАГАЗИН</option>
                    <option value="">РЕСТОРАНТ</option>
                    <option value="">ПАРЦЕЛ</option>
                </select>
            </div>
            <div class="input">
                <label for="img">Изображение</label>
                <input type="file" name="img" id="img">
            </div>
            <div class="input">
                <label for="location">Локация</label>
                <input type="text" name="location" id="location">
            </div>
            <div class="input">
                <label for="price">Цена</label>
                <input type="text" name="price" id="price">
            </div>
            <div class="input">
                <label for="area">Площ</label>
                <input type="text" name="area" id="area">
            </div>
            <div class="input">
                <label for="floor">Етаж</label>
                <input type="text" name="floor" id="floor">
            </div>
            <div class="input">
                <label for="phone">Телефон</label>
                <input type="text" name="phone" id="phone">
            </div>
            <div class="input">
                <label for="info">Допълнителна информация</label>
                <input type="text" name="info" id="info">
            </div>
            <div class="action">
                <input type="submit" value="Добави"></input>
            </div>
        </form>
    </section>
</main>