<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real Estate Sozopol</title>
    <script src="../../utils/showHideNavBar.js"></script>
    <link rel="stylesheet" href="../../../public/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

<body>

    <div id="box">
        <header>
            <a class="nav-link" href=""><img class="home-logo"
                    src="../../../public/img/—Pngtree—real estate house logo design_5534942.png" alt="">
            </a>
            <button onclick="showHideNavBar()" class="btn-menu"><i class="fas fa-bars"></i></button>

            <nav class="nav">
                <ul>
                    <li><a class="nav-link" href="">Имоти</a></li>
                    <div id="guest">
                        <li><a class="nav-link" href="">Регистрация</a></li>
                        <li><a class="nav-link" href="">Влез</a></li>
                    </div>
                    <div id="user">
                        <li><a class="nav-link" href="">Добави имот</a></li>
                        <li><a class="nav-link" href="">Моят профил</a></li>
                        <li><a class="nav-link" href="">Изход</a></li>
                    </div>
                </ul>

            </nav>
        </header>
        <main id="catalog-main">
            <div class="catalog-container">
                <div class="number-of-ads">1 - 12 от общо 100 обяви</div>
                <div class="ads-container">
                    <a href="">
                        <img src="https://www.apartments.com/blog/sites/default/files/styles/x_large_hq/public/image/2023-06/ParkLine-apartment-in-Miami-FL.jpg?itok=kQmw64UU"
                            alt="">
                        <div class="ad-info">
                            <span class="ad-type">3-СТАЕН</span>
                            <span class="ad-kvadratura">80кв.м</span>
                            <span class="ad-cena">100 000 EUR</span>
                        </div>
                    </a>
                    <a href="">
                        <img src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/383834719.jpg?k=a8ed632aeaf2eb621e6753e941d4fb2f858005614b603cdef5bfe644ce1a1906&o=&hp=1"
                            alt="">
                        <div class="ad-info">
                            <span class="ad-type">3-СТАЕН</span>
                            <span class="ad-kvadratura">80кв.м</span>
                            <span class="ad-cena">100 000 EUR</span>
                        </div>
                    </a>
                    <a href="">
                        <img src="https://www.apartments.com/blog/sites/default/files/styles/x_large_hq/public/image/2023-06/ParkLine-apartment-in-Miami-FL.jpg?itok=kQmw64UU"
                            alt="">
                        <div class="ad-info">
                            <span class="ad-type">3-СТАЕН</span>
                            <span class="ad-kvadratura">80кв.м</span>
                            <span class="ad-cena">100 000 EUR</span>
                        </div>
                    </a>
                    <a href="">
                        <img src="https://www.apartments.com/blog/sites/default/files/styles/x_large_hq/public/image/2023-06/ParkLine-apartment-in-Miami-FL.jpg?itok=kQmw64UU"
                            alt="">
                        <div class="ad-info">
                            <span class="ad-type">3-СТАЕН</span>
                            <span class="ad-kvadratura">80кв.м</span>
                            <span class="ad-cena">100 000 EUR</span>
                        </div>
                    </a>
                    <a href="">
                        <img src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/383834719.jpg?k=a8ed632aeaf2eb621e6753e941d4fb2f858005614b603cdef5bfe644ce1a1906&o=&hp=1"
                            alt="">
                        <div class="ad-info">
                            <span class="ad-type">3-СТАЕН</span>
                            <span class="ad-kvadratura">80кв.м</span>
                            <span class="ad-cena">100 000 EUR</span>
                        </div>
                    </a>
                    <a href="">
                        <img src="https://www.apartments.com/blog/sites/default/files/styles/x_large_hq/public/image/2023-06/ParkLine-apartment-in-Miami-FL.jpg?itok=kQmw64UU"
                            alt="">
                        <div class="ad-info">
                            <span class="ad-type">3-СТАЕН</span>
                            <span class="ad-kvadratura">80кв.м</span>
                            <span class="ad-cena">100 000 EUR</span>
                        </div>
                    </a>
                </div>
                <div class="pagination">
                    <button class="prev"><i class="fa-solid fa-left-long"></i></button>
                    <div class="pages">
                        <select name="" id="">
                            <option value="">1</option>
                        </select>
                    </div>
                    <button class="next"><i class="fa-solid fa-right-long"></i></button>
                </div>
            </div>
        </main>
    </div>
    <footer>
        <div class="footer-contacts-container">
            <h3 class="contacts-title">Контакти:</h3>
            <div class="contacts-icons-container">
                <div class="contacts-icons"><i class="fa-solid fa-phone"></i>0888 888 888</div>
                <div class="contacts-icons"><i class="fa-solid fa-envelope"></i>office@real-estate-sozopol.bg</div>
                <div class="contacts-icons"><i class="fa-solid fa-location-dot"></i>Sozopol 8130</div>
            </div>
        </div>
        <div class="follow-footer-container">
            <h3 class="follow-title">Последвайте ни в:</h3>
            <div class="socials-icons-footer-container">
                <a class="socials-icons" href="#"><i class="fab fa-twitter"></i></a>
                <a class="socials-icons" href="#"><i class="fab fa-facebook-f"></i></a>
                <a class="socials-icons" href="#"><i class="fab fa-instagram"></i></a>
                <a class="socials-icons" href="#"><i class="fab fa-youtube"></i></a>
            </div>
        </div>
        <div class="all-right">© Real Estate Sozopol 2023</div>
    </footer>
</body>

</html>