<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real Estate Sozopol</title>
    <link rel="stylesheet" href="../../../public/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <script src="../../utils/showHideNavBar.js"></script>
    <script src="../../../public/js/script.js" defer></script>
</head>

<body>

    <div id="box">
        <header>
            <a class="nav-link" href=""><img class="home-logo"
                    src="../../../public/img/—Pngtree—real estate house logo design_5534942.png" alt="">
            </a>
            <button onclick="showHideNavBar()" class="btn-menu"><i class="fas fa-bars"></i></button>

            <nav class="nav">
                <ul>
                    <li><a class="nav-link" href="">Имоти</a></li>
                    <div id="guest">
                        <li><a class="nav-link" href="">Регистрация</a></li>
                        <li><a class="nav-link" href="">Влез</a></li>
                    </div>
                    <div id="user">
                        <li><a class="nav-link" href="">Добави имот</a></li>
                        <li><a class="nav-link" href="">Моят профил</a></li>
                        <li><a class="nav-link" href="">Изход</a></li>
                    </div>
                </ul>

            </nav>
        </header>
        <main id="details-page">
            <div class="details-container">
                <h1>3-СТАЕН Апартамент</h1>
                <div class="image-wrapper">
                    <i id="left" class="fa-solid fa-angle-left"></i>
                    <div class="carousel">
                        <img src="https://q-xx.bstatic.com/xdata/images/hotel/max1024x768/363022710.jpg?k=9c1794a61b2e355f1053912e022e0e5cbfc492ec9fddc69a09c7c8da097900e1&o="
                            alt="">
                        <img src="https://q-xx.bstatic.com/xdata/images/hotel/max1024x768/363022710.jpg?k=9c1794a61b2e355f1053912e022e0e5cbfc492ec9fddc69a09c7c8da097900e1&o="
                            alt="">
                        <img src="https://q-xx.bstatic.com/xdata/images/hotel/max1024x768/363022710.jpg?k=9c1794a61b2e355f1053912e022e0e5cbfc492ec9fddc69a09c7c8da097900e1&o="
                            alt="">
                        <img src="https://q-xx.bstatic.com/xdata/images/hotel/max1024x768/363022710.jpg?k=9c1794a61b2e355f1053912e022e0e5cbfc492ec9fddc69a09c7c8da097900e1&o="
                            alt="">
                    </div>
                    <i id="right" class="fa-solid fa-angle-right"></i>
                </div>
                <div class="description">
                    <h3>Основна информация</h3>
                    <div class="desc-table">
                        <table>
                            <tbody>
                                <tr>
                                    <td>Локация</td>
                                    <td>ул.Вихрен</td>
                                </tr>
                                <tr>
                                    <td>Цена</td>
                                    <td>100 000 EUR</td>
                                </tr>
                                <tr>
                                    <td>Площ</td>
                                    <td>100 кв.м</td>
                                </tr>
                                <tr>
                                    <td>Етаж</td>
                                    <td>2 от 3</td>
                                </tr>
                                <tr>
                                    <td>Телефон</td>
                                    <td>0888888888</td>
                                </tr>
                                <tr>
                                    <td>Видяно</td>
                                    <td>100</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <h3>Допълнителна информация</h3>
                    <p>Продава се къща с потенциал в центъра на Град Карлово, област Пловдив! Представяме ви уникална
                        възможност да превърнете тази стара къща в идеалния дом, който винаги сте искали, на само
                        няколко крачки от центъра на Град Карлово. Характеристики на имота: Местоположение: Централна
                        зона на Град Карлово, област Пловдив. Площ: 74 квадратни метра вътрешна площ на къщата,
                        предоставящи възможност за креативно разпределение на стаите и пространствата. Двор: Обща площ
                        от 235 квадратни метра, предлагащи възможности за създаване на красив градински рай. Описание:
                        Старата архитектура и оригиналните детайли правят тази къща уникална и с потенциал за превръщане
                        в един чудесен дом. Проектът за обновление и модернизация може да създаде интериор, който
                        отразява вашите желания и стил. Имайте предвид че необходими са ремонтни дейности и обновление
                        за постигане на максимален комфорт, но с визия и творчески подход, тази къща може да стане
                        перфектният дом за вас и вашето семейство. Локация: Намираща се в идеалната част на града,
                        къщата предлага близост до всички удобства и услуги в града. Разположена в близост до магазини,
                        ресторанти, училища и обществени заведения, този имот предоставя уникалната възможност да бъдете
                        част от пулса на градския живот. Цена: €70000 Не изпускайте тази възможност да създадете свой
                        уютен дом с характер в историческия център на Карлово! За повече информация и огледи, моля,
                        свържете се с нас на 0879236555 Тази оферта е актуална към 29.09.2023 и подлежи на промяна. За
                        най-актуална информация, моля свържете се с нас.</p>
                </div>

            </div>
        </main>
    </div>
    <footer>
        <div class="footer-contacts-container">
            <h3 class="contacts-title">Контакти:</h3>
            <div class="contacts-icons-container">
                <div class="contacts-icons"><i class="fa-solid fa-phone"></i>0888 888 888</div>
                <div class="contacts-icons"><i class="fa-solid fa-envelope"></i>office@real-estate-sozopol.bg</div>
                <div class="contacts-icons"><i class="fa-solid fa-location-dot"></i>Sozopol 8130</div>
            </div>
        </div>
        <div class="follow-footer-container">
            <h3 class="follow-title">Последвайте ни в:</h3>
            <div class="socials-icons-footer-container">
                <a class="socials-icons" href="#"><i class="fab fa-twitter"></i></a>
                <a class="socials-icons" href="#"><i class="fab fa-facebook-f"></i></a>
                <a class="socials-icons" href="#"><i class="fab fa-instagram"></i></a>
                <a class="socials-icons" href="#"><i class="fab fa-youtube"></i></a>
            </div>
        </div>
        <div class="all-right">© Real Estate Sozopol 2023</div>
    </footer>
</body>

</html>