<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real Estate Sozopol</title>
    <script src="../utils/showHideNavBar.js"></script>
    <link rel="stylesheet" href="../../public/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

<body>

    <div id="box">
        <header>
            <a class="nav-link" href=""><img class="home-logo"
                    src="../../public/img/—Pngtree—real estate house logo design_5534942.png" alt=""></a>
            <button onclick="showHideNavBar()" class="btn-menu"><i class="fas fa-bars"></i></button>

            <nav class="nav">
                <ul>
                    <li><a class="nav-link" href="">Имоти</a></li>
                    <div id="guest">
                        <li><a class="nav-link" href="">Регистрация</a></li>
                        <li><a class="nav-link" href="">Влез</a></li>
                    </div>
                    <div id="user">
                        <li><a class="nav-link" href="">Добави имот</a></li>
                        <li><a class="nav-link" href="">Моят профил</a></li>
                        <li><a class="nav-link" href="">Изход</a></li>
                    </div>
                </ul>

            </nav>
        </header>
    </div>
</body>

</html>