<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real Estate Sozopol</title>
    <script src="../../utils/showHideNavBar.js"></script>
    <link rel="stylesheet" href="../../../public/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

<body>

    <div id="box">
        <header>
            <a class="nav-link" href=""><img class="home-logo"
                    src="../../../public/img/—Pngtree—real estate house logo design_5534942.png" alt=""></a>
            <button onclick="showHideNavBar()" class="btn-menu"><i class="fas fa-bars"></i></button>

            <nav class="nav">
                <ul>
                    <li><a class="nav-link" href="">Имоти</a></li>
                    <div id="guest">
                        <li><a class="nav-link" href="">Регистрация</a></li>
                        <li><a class="nav-link" href="">Влез</a></li>
                    </div>
                    <div id="user">
                        <li><a class="nav-link" href="">Добави имот</a></li>
                        <li><a class="nav-link" href="">Моят профил</a></li>
                        <li><a class="nav-link" href="">Изход</a></li>
                    </div>
                </ul>

            </nav>
        </header>
        <main id="home-main">
            <img class="title-logo" src="../../../public/img/—Pngtree—real estate house logo design_5534942.png" alt="">
            <h1 class="title">Real Estate Sozopol</h1>

            <form id="home-form">
                <ul class="search-ul">
                    <li class="search-li">
                        <label for="">Вид имот</label>
                        <select name="type" id="">
                            <option value="">1-СТАЕН</option>
                            <option value="">2-СТАЕН</option>
                            <option value="">3-СТАЕН</option>
                            <option value="">МНОГОСТАЕН</option>
                            <option value="">КЪЩА</option>
                            <option value="">ХОТЕЛ</option>
                            <option value="">МАГАЗИН</option>
                            <option value="">РЕСТОРАНТ</option>
                            <option value="">ПАРЦЕЛ</option>
                        </select>
                    </li>
                    <li class="search-li">
                        <label for="">Сортиране според</label>
                        <select name="type" id="">
                            <option value="">Най-ниска цена</option>
                            <option value="">Най-висока цена</option>
                            <option value="">Най-нови обяви</option>
                        </select>
                    </li>
                    <li class="search-li">
                        <label for="">Макс.цена <span>(EUR)</span></label>
                        <input type="text" name="price">
                    </li>
                    <li class="search-li">
                        <label for="">Мин. кв. <span>(кв.м.)</span></label>
                        <input type="text" name="price">
                    </li>
                </ul>
                <button id="search-btn">ТЪРСИ</button>
            </form>
            <div class="last-added-title">
                <h2>Последно добавени имоти</h2>
            </div>

            <div class="last-added-container">
                <a href="">
                    <img src="https://www.apartments.com/blog/sites/default/files/styles/x_large_hq/public/image/2023-06/ParkLine-apartment-in-Miami-FL.jpg?itok=kQmw64UU"
                        alt="">
                    <div class="ad-info">
                        <span class="ad-type">3-СТАЕН</span>
                        <span class="ad-kvadratura">80кв.м</span>
                        <span class="ad-cena">100 000 EUR</span>
                    </div>
                </a>
                <a href="">
                    <img src="https://www.apartments.com/blog/sites/default/files/styles/x_large_hq/public/image/2023-06/ParkLine-apartment-in-Miami-FL.jpg?itok=kQmw64UU"
                        alt="">
                    <div class="ad-info">
                        <span class="ad-type">3-СТАЕН</span>
                        <span class="ad-kvadratura">80кв.м</span>
                        <span class="ad-cena">100 000 EUR</span>
                    </div>
                </a>
                <a href="">
                    <img src="https://www.apartments.com/blog/sites/default/files/styles/x_large_hq/public/image/2023-06/ParkLine-apartment-in-Miami-FL.jpg?itok=kQmw64UU"
                        alt="">
                    <div class="ad-info">
                        <span class="ad-type">3-СТАЕН</span>
                        <span class="ad-kvadratura">80кв.м</span>
                        <span class="ad-cena">100 000 EUR</span>
                    </div>
                </a>
            </div>
        </main>
    </div>
</body>

</html>