<main id="home-main">
    <img class="title-logo" src="../../../public/img/—Pngtree—real estate house logo design_5534942.png" alt="">
    <h1 class="title-home">Real Estate Sozopol</h1>

    <form id="home-form">
        <ul class="search-ul">
            <li class="search-li">
                <label for="">Вид имот</label>
                <select name="type" id="">
                    <option value="1-СТАЕН">1-СТАЕН</option>
                    <option value="2-СТАЕН">2-СТАЕН</option>
                    <option value="3-СТАЕН">3-СТАЕН</option>
                    <option value="МНОГОСТАЕН">МНОГОСТАЕН</option>
                    <option value="КЪЩА">КЪЩА</option>
                    <option value="ХОТЕЛ">ХОТЕЛ</option>
                    <option value="МАГАЗИН">МАГАЗИН</option>
                    <option value="РЕСТОРАНТ">РЕСТОРАНТ</option>
                    <option value="ПАРЦЕЛ">ПАРЦЕЛ</option>
                </select>
            </li>
            <li class="search-li">
                <label for="">Сортиране според</label>
                <select name="type" id="">
                    <option value="">Най-ниска цена</option>
                    <option value="">Най-висока цена</option>
                    <option value="">Най-нови обяви</option>
                </select>
            </li>
            <li class="search-li">
                <label for="">Макс.цена <span>(EUR)</span></label>
                <input type="text" name="price">
            </li>
            <li class="search-li">
                <label for="">Мин. кв. <span>(кв.м.)</span></label>
                <input type="text" name="price">
            </li>
        </ul>
        <button id="search-btn">ТЪРСИ</button>
    </form>
    <div class="last-added-title">
        <h2>Последно добавени имоти</h2>
    </div>

    <div class="last-added-container">
        <a href="">
            <img src="https://www.apartments.com/blog/sites/default/files/styles/x_large_hq/public/image/2023-06/ParkLine-apartment-in-Miami-FL.jpg?itok=kQmw64UU"
                alt="">
            <div class="ad-info">
                <span class="ad-type">3-СТАЕН</span>
                <span class="ad-kvadratura">80кв.м</span>
                <span class="ad-cena">100 000 EUR</span>
            </div>
        </a>
        <a href="">
            <img src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/383834719.jpg?k=a8ed632aeaf2eb621e6753e941d4fb2f858005614b603cdef5bfe644ce1a1906&o=&hp=1"
                alt="">
            <div class="ad-info">
                <span class="ad-type">3-СТАЕН</span>
                <span class="ad-kvadratura">80кв.м</span>
                <span class="ad-cena">100 000 EUR</span>
            </div>
        </a>
        <a href="">
            <img src="https://www.apartments.com/blog/sites/default/files/styles/x_large_hq/public/image/2023-06/ParkLine-apartment-in-Miami-FL.jpg?itok=kQmw64UU"
                alt="">
            <div class="ad-info">
                <span class="ad-type">3-СТАЕН</span>
                <span class="ad-kvadratura">80кв.м</span>
                <span class="ad-cena">100 000 EUR</span>
            </div>
        </a>
        <a href="">
            <img src="https://www.apartments.com/blog/sites/default/files/styles/x_large_hq/public/image/2023-06/ParkLine-apartment-in-Miami-FL.jpg?itok=kQmw64UU"
                alt="">
            <div class="ad-info">
                <span class="ad-type">3-СТАЕН</span>
                <span class="ad-kvadratura">80кв.м</span>
                <span class="ad-cena">100 000 EUR</span>
            </div>
        </a>
        <a href="">
            <img src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/383834719.jpg?k=a8ed632aeaf2eb621e6753e941d4fb2f858005614b603cdef5bfe644ce1a1906&o=&hp=1"
                alt="">
            <div class="ad-info">
                <span class="ad-type">3-СТАЕН</span>
                <span class="ad-kvadratura">80кв.м</span>
                <span class="ad-cena">100 000 EUR</span>
            </div>
        </a>
        <a href="">
            <img src="https://www.apartments.com/blog/sites/default/files/styles/x_large_hq/public/image/2023-06/ParkLine-apartment-in-Miami-FL.jpg?itok=kQmw64UU"
                alt="">
            <div class="ad-info">
                <span class="ad-type">3-СТАЕН</span>
                <span class="ad-kvadratura">80кв.м</span>
                <span class="ad-cena">100 000 EUR</span>
            </div>
        </a>
    </div>
</main>