<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real Estate Sozopol</title>
    <script src="../../../public/js/showHideNavBar.js"></script>
    <link rel="stylesheet" href="../../../public/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

<body>

    <div id="box">
        <header>
            <a class="nav-link" href="/"><img class="home-logo"
                    src="../../../public/img/—Pngtree—real estate house logo design_5534942.png" alt="">
            </a>
            <button onclick="showHideNavBar()" class="btn-menu"><i class="fas fa-bars"></i></button>

            <nav class="nav">
                <ul>
                    <li><a class="nav-link" href="/">Начало</a></li>
                    <div id="guest">
                        <li><a class="nav-link" href="/auth/register">Регистрация</a></li>
                        <li><a class="nav-link" href="/auth/login">Вход</a></li>
                    </div>
                    <div id="user">
                        <li><a class="nav-link" href="/catalog/add">Добави имот</a></li>
                        <li><a class="nav-link" href="">Моят профил</a></li>
                        <li><a class="nav-link" href="">Изход</a></li>
                    </div>
                </ul>

            </nav>
        </header>

        <div class="errorContainer">
            <p>Error</p>
        </div>
        {{{body}}}
    </div>
    <footer>
        <div class="footer-contacts-container">
            <h3 class="contacts-title">Контакти:</h3>
            <div class="contacts-icons-container">
                <div class="contacts-icons"><i class="fa-solid fa-phone"></i>0888 888 888</div>
                <div class="contacts-icons"><i class="fa-solid fa-envelope"></i>office@real-estate-sozopol.bg</div>
                <div class="contacts-icons"><i class="fa-solid fa-location-dot"></i>Sozopol 8130</div>
            </div>
        </div>
        <div class="follow-footer-container">
            <h3 class="follow-title">Последвайте ни в:</h3>
            <div class="socials-icons-footer-container">
                <a class="socials-icons" href="#"><i class="fab fa-twitter"></i></a>
                <a class="socials-icons" href="#"><i class="fab fa-facebook-f"></i></a>
                <a class="socials-icons" href="#"><i class="fab fa-instagram"></i></a>
                <a class="socials-icons" href="#"><i class="fab fa-youtube"></i></a>
            </div>
        </div>
        <div class="all-right">© Real Estate Sozopol 2023</div>
    </footer>
</body>

</html>