<main id="form-main">
    <section class="form-view">
        <h1>Регистрация</h1>
        <form action="" method="post" class="forms">
            <div class="input">
                <label for="username">Потребителско име</label>
                <input type="text" name="user-name" id="username">
            </div>
            <div class="input">
                <label for="firstname">Име</label>
                <input type="text" name="first-name" id="firstname">
            </div>
            <div class="input">
                <label for="lastname">Фамилия</label>
                <input type="text" name="last-name" id="lastname">
            </div>
            <div class="input">
                <label for="password">Парола</label>
                <input type="password" name="pass" id="password">
            </div>
            <div class="input">
                <label for="repass">Повтори парола</label>
                <input type="password" name="re-pass" id="repass">
            </div>
            <div class="input">
                <label for="email">E-mail</label>
                <input type="text" name="e-mail" id="email">
            </div>
            <div class="action">
                <input type="submit" value="Регистрация"></input>
            </div>
        </form>
    </section>
</main>